
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大宽网</title>
    <link rel="shortcut icon" href="/static/images/log.png">
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/static/css/style.css?2017-11-9">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet"  href="/static/css/index.css">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0682304b9d3325e7f4b3d52fe6f6374b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<header>
    <ul class="nav main_menu">
        <li>
            <a href="/Research/index" target="_blank">数据分析</a>
        </li>
        <li>
            <a href="/strategy.html" target="_blank">策略编写</a>
        </li>
        <li class="home_logo">
            <a href="" target="_blank">
                <img src="/static/images/index05_03.png">
            </a>
            <div></div>
        </li>
        <li>
            <a href="/cloud.html" target="_blank">云交易</a>
        </li>
        <li>
            <a href="http://bbs.quanttech.cn/explore/category-1" target="_blank">量化社区</a>
        </li>
        <!-- <li><a href="/school/index" target="_blank">量化学堂</a></li> -->
    </ul>
    <ul class="nav_sub">

                    <li id="no_login" class="login_relative">
                <a href="/login.html" target="_blank">登录</a>
                <label class="separator">|</label>
                <a href="http://usercenter.quanttech.cn/Login/UserinfoRegist?code=http://www.daquant.com/" target="_blank">注册</a>
            </li>
        <li>
            <a href="" target="_blank">帮助</a>
            <ul class="drop_down">
                <li>
                    <a href="/help/index.html">帮助中心</a>
                </li>
                <li>
                    <a href="/data.html">数据中心</a>
                </li>
            </ul>
        </li>
    </ul>
</header>

<link rel="stylesheet" type="text/css" href="/static/js/slider/slider.css">
<div class="main">
    <div id="pagewrap" class="home_main slider">
        <ul class="banner_list clearfix">
            <li class="home_bg banner1">
                <a id="start" ></a>
            </li>
            <li class="banner2">
                <a href="http://bbs.quanttech.cn/article/676" target="_blank"></a>
            </li>
            <li class="banner3">
                <a href="http://www.quanttech.cn/service/trained/" target="_blank"></a>
            </li>
            <li class="banner4">
                <a  target="_blank" href="http://www.quanttech.cn/product/babel/"></a>
                <a  target="_blank" href="http://www.quanttech.cn/index.php?m=member&c=register&a=apply"></a>
            </li>
        </ul>

    </div>
    <div class="home_recommend clearfix">
        <div class="rec_items">
            <h3>常见问题</h3>
            <a href="/help/index.html?act=FAQa" target="_blank">数据权限怎么确定？</a>
            <a href="/help/index.html?act=FAQb" target="_blank">密钥是什么？</a>
            <a href="/help/index.html?act=FAQc" target="_blank">因子数据怎么调用？</a>
            <a href="/help/index.html?act=FAQd" target="_blank">大宽网的策略怎么调试？</a>
            <a href="/help/index.html?act=FAQe" target="_blank">信号管理型策略和资金管理型策略有什么区别？</a>
            <a href="/help/index.html" target="_blank" class="more">-查看更多</a>
        </div>
        <div class="rec_items">
            <h3>策略精选</h3>
            <a href="http://bbs.quanttech.cn/article/632" target="_blank">动态股票CTA系统</a>
            <a href="http://bbs.quanttech.cn/article/624" target="_blank">CTA实战--策略编写陷阱：偷价格</a>
            <a href="http://bbs.quanttech.cn/article/623" target="_blank">经典CTA--DualThrust：日间趋势捕捉</a>
            <a href="http://bbs.quanttech.cn/article/614" target="_blank">一个基于TD的反转策略</a>
            <a href="http://bbs.quanttech.cn/article/516" target="_blank">基于价量匹配思想的一个交易策略</a>
            <a href="http://bbs.quanttech.cn/" target="_blank" class="more">-查看更多</a>
        </div>
        <div class="rec_items">
            <h3>量化学堂</h3>
            <a href="http://bbs.quanttech.cn/article/463" target="_blank">股票量化投资精讲：从阿尔法本质和三种类型的阿尔法策略谈起</a>
            <a href="http://bbs.quanttech.cn/article/510" target="_blank">CTA投资与程序化交易：从经典CTA到现代研究方法</a>
            <a href="http://bbs.quanttech.cn/article/588" target="_blank">机器学习选讲：从理论到算法</a>
            <a href="http://bbs.quanttech.cn/article/559" target="_blank">高频交易：理论、策略、资讯和中国实践</a>
            <a href="http://bbs.quanttech.cn/article/595" target="_blank">统计套利：理论、算法和策略</a>
            <a href="http://bbs.quanttech.cn/article/667" target="_blank" class="more">-查看更多</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/slider/unslider.min.js"></script>
<script type="text/javascript">
        var unslider06 = $('#pagewrap').unslider({
            dots: true,
            fluid: true
        }),
        data06 = unslider06.data('unslider');
        $('.unslider-arrow06').click(function() {
            var fn = this.className.split(' ')[1];
            data06[fn]();
        });
        </script>
<link rel="stylesheet" href="/static/css/index.css">
<footer>
        <div class="foot clearfix">
            <div class="links">
                <p>
                    <span>友情链接：</span>
                    <a href="http://www.quanttech.cn">量邦科技</a>
                    <a href="http://www.wquant.com">微量网</a>
                    <a href="http://www.qiandabai.com">钱大白</a>
                </p>
                <p>
                    <span>帮助：</span>
                    <a href="/help/index.html">帮助中心</a>
                    <a href="/data.html">数据使用</a>
                </p>
                <p>
                    <span>声明：</span>
                    <a href="/registration_protocol.html">使用条款</a>
                </p>

            </div>
            <div class="twocodes">
                <span>
                    <img src="/static/images/lbpng.jpg">
                    <p>量邦科技</p>
                </span>
                <span>
                    <img src="/static/images/wlpng.jpg">
                    <p>量化投资华山之巅</p>
                </span>
            </div>
            <div class="contacts">
                <div>客服:</div>
                <p>400-1086-811</p>
                <div class='cls'></div>
                <div>邮箱:</div>
                <p>info@quanttech.cn</p>
                <div class='cls'></div>
                <p class='ces'>京ICP备12042911号7</p>
            </div>
        </div>
    </footer>
    <div id="pop_mask" style=" display:none;position: fixed;height: 100%;width: 100%;background: rgba(0,0,0,0.6);left: 0;top: 0;">
        <img src="/static/images/loading.gif" style="display: block;width: 128px; position: absolute;top: 50%;margin-top: -64px;left: 50%; margin-left: -64px;">
    </div>
</body>
</html>