<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Home</title>
<link rel="stylesheet" href="../static/fontawesome-5.5/css/all.min.css" />
<link rel="stylesheet" href="../static/slick/slick.css">
<link rel="stylesheet" href="../static/slick/slick-theme.css">
<link rel="stylesheet" href="../static/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/templatemo-style.css" />
</head>
<body>    
<!-- Hero section -->
<section id="hero" class="text-white tm-font-big tm-parallax">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
	<div class="container">   
	  <div class="tm-next">
		  <a href="#hero" class="navbar-brand">Hello World !</a>
	  </div>             
		
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars navbar-toggler-icon"></i>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item">
			  <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link tm-nav-link" href="#work">Our Python</a>
		  </li>
		  <li class="nav-item">
			  <a class="nav-link tm-nav-link" href="#contact">Others</a>
		  </li>                    
		</ul>
	  </div>        
	</div>
  </nav>
  
{#  <div class="text-center tm-hero-text-container">#}
{#	<div class="tm-hero-text-container-inner">#}
{#		<h2 class="tm-hero-title">GoodDay!</h2>#}
{#		<p class="tm-hero-subtitle">#}
{#		  Hello World#}
{#		  <br />by bobop#}
{#          <p>github</p>#}
<div>
    <br />
    <br />
        <li class='link_1'><a href="https://github.com/" target='_blank'>github</a></li>
        <li class='link_1'><a href="https://github.com/topics/linux" target='_blank'>linux主题_github</a></li>
        <li class='link_1'><a href="https://github.com/topics/python" target='_blank'>python主题_github</a></li>
        <li class='link_1'><a href="https://github.com/vinta/awesome-python" target='_blank'>Awesome Python工具 </a></li>
        <li class='link_1'><a href="https://github.com/donnemartin/gitsome" target='_blank'>gitsome</a></li>
        <li class='link_1'><a href="https://github.com/TheAlgorithms/Python" target='_blank'>python_算法</a></li>
    <br />
    	<li class='link_1'><a href="https://www.baidu.com" target='_blank'>百度一下</a></li>
        <li class='link_1'><a href="https://www.csdn.net/" target='_blank'>CSDN</a></li>
        <li class='link_1'><a href="https://www.jianshu.com/" target='_blank'>简书</a></li>
        <li class='link_1'><a href="https://www.bilibili.com/" target='_blank'>b站</a></li>
        <li class='link_1'><a href="http://ntlias-stu.boxuegu.com/#/login"target='_blank'>博学谷</a></li>
        <li class='link_1'><a href="https://www.djangosites.org/ " target='_blank'> django-sites</a></li>
</div>

{#		</p>#}
{#	</div>        #}
{#  </div>#}

  <div class="tm-next tm-intro-next">
{#	<a href="#introduction" class="text-center tm-down-arrow-link">#}
{#	  <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>#}
{#	</a>#}
  </div>      
</section>

<section id="introduction" class="tm-section-pad-top">
  <div class="container">
	<div class="row">
	  <div class="col-lg-6">
		<img src="../static/img/the-town-01.jpg" alt="Image" class="img-fluid tm-intro-img" />
	  </div>
	  <div class="col-lg-6">
		<div class="tm-intro-text-container">
			<h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
			<p class="mb-4 tm-intro-text">
{#			  The Town is <strong>simple CSS template</strong> built on Bootstrap v4.1.3 #}
{#			  and this is a little parallax layout that you can use for your websites.#}
{#		  </p>#}
{#			<p class="mb-5 tm-intro-text">#}
{#			  Please tell your friends about our site #}
{#			  <a rel="nofollow" href="#">templatemo</a>. Thank you.#}
{#			  Curabitur dapibus tristique enim a imperdiet. Etiam#}
{#		  tristique sem sed condimentum posuere. </p>#}
            Linux是一套免费使用和自由传播的类Unix操作系统，是一个基于POSIX和UNIX的多用户、多任务、支持多线程和多CPU的操作系统。它能运行主要的UNIX工具软件、应用程序和网络协议。它支持32位和64位硬件。Linux继承了Unix以网络为核心的设计思想，是一个性能稳定的多用户网络操作系统。
                <br /><br />
                Linux操作系统诞生于1991 年10 月5 日（这是第一次正式向外公布时间）。Linux存在着许多不同的Linux版本，但它们都使用了Linux内核。Linux可安装在各种计算机硬件设备中，比如手机、平板电脑、路由器、视频游戏控制台、台式计算机、大型机和超级计算机。
                <br /><br />
                严格来讲，Linux这个词本身只表示Linux内核，但实际上人们已经习惯了用Linux来形容整个基于Linux内核，并且使用GNU 工程各种工具和数据库的操作系统。


			<div class="tm-next">
			  <a href="/aa" class="tm-intro-text tm-btn-primary">Others</a>
			</div>
		</div>
	  </div>
	</div>

	<div class="row tm-section-pad-top">
	  <div class="col-lg-4">
		<i class="fas fa-4x fa-bus text-center tm-icon"></i>
		<h4 class="text-center tm-text-primary mb-4">Curabitur at elit eu risus</h4>
		<p>
		  Sed ultrices sit amet mi eu malesuada. Cras ultricies gravida
		  nisi, ac pellentesque nunc tincidunt quis. Aenean at ornare lacus.
		  Duis imperdiet lacus justo.
		</p>
	  </div>
	
	<div class="col-lg-4 mt-5 mt-lg-0">
	  <i class="fas fa-4x fa-bicycle text-center tm-icon"></i>
	  <h4 class="text-center tm-text-primary mb-4">Nunc sed metus vel nisi</h4>
	  <p>
		Praesent ut finibus leo. Duis et tempus ipsum, id pretium nunc.
		Vivamus imperdiet sem quis orci pharetra convallis. Nunc a tempus
		nisi, sed fringilla purus. In hac habitasse platea.
	  </p>
	</div>
	<div class="col-lg-4 mt-5 mt-lg-0">
	  <i class="fas fa-4x fa-city text-center tm-icon"></i>
	  <h4 class="text-center tm-text-primary mb-4">Fusce sed nisi sagittis</h4>
	  <p>
		12345
	  </p>
	</div>
  </div>
</section>

<section id="work" class="tm-section-pad-top">
  <div class="container tm-container-gallery">
	<div class="row">
	  <div class="text-center col-12">
		  <h2 class="tm-text-primary tm-section-title mb-4">Our Python</h2>
		  <p class="mx-auto tm-work-description">
			Python is a dynamically typed programming language designed by Guido van Rossum. Much like the programming language Ruby,
          Python was designed to be easily read by programmers. Because of its large following and many libraries,
          Python can be implemented and used to do anything from webpages to scientific research.
		  </p>
	  </div>            
	</div>
	<div class="row">
		<div class="col-12">
			<div class="mx-auto tm-gallery-container">
				<div class="grid tm-gallery">
				  <a href="../static/img/gallery-img-01.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Dreamy <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				  <a href="../static/img/gallery-img-02.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Second <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				  <a href="../static/img/gallery-img-03.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-03.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Third <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				  <a href="../static/img/gallery-img-04.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-04.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Dreamy <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				  <a href="../static/img/gallery-img-05.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-05.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Fifth <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				  <a href="../static/img/gallery-img-06.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-06.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Sixth <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				  <a href="../static/img/gallery-img-01.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Dreamy <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				  <a href="../static/img/gallery-img-02.jpg">
					<figure class="effect-honey tm-gallery-item">
					  <img src="../static/img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
					  <figcaption>
						<h2><i>Eighth <span>Honey</span> Now</i></h2>
					  </figcaption>
					</figure>
				  </a>
				</div>
			</div>                
		</div>        
	  </div>
  </div>
</section>

<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">
  <div class="container tm-container-contact">
	<div class="row">
		<div class="col-12">
			<h2 class="mb-4 tm-section-title">古诗欣赏</h2>
			<div class="mb-5 tm-underline">
			  <div class="tm-underline-inner"></div>
			</div>
			<p class="mb-5">
                望庐山瀑布<br />
                朝代：唐代   作者：李白<br />
                日照香炉生紫烟，遥看瀑布挂前川。<br />
                飞流直下三千尺，疑是银河落九天。<br /><br />
			</p>
		</div>
		
		<div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
		  <a href="tel:0100200340" class="tm-contact-item-link">
			  <i class="fas fa-3x fa-phone mr-4"></i>
			  <span class="mb-0">18520395753</span>
		  </a>              
		</div>
		<div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
		  <a href="mailto:info@company.co" class="tm-contact-item-link">
			  <i class="fas fa-3x fa-envelope mr-4"></i>
			  <span class="mb-0">gitglobal@qq.com</span>
		  </a>              
		</div>
		<div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
		  <a href="#" class="tm-contact-item-link">
			  <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
			  <span class="mb-0">广东-广州</span>
		  </a>              
		</div>
		<div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
		  <form action="" method="get">
			<input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
			<button type="submit" class="btn tm-btn-submit">Submit</button>
		  </form>
		</div>
	</div>
  </div>
  <footer class="text-center small tm-footer">
	  <p class="mb-0">Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</footer>
</section>
<script src="../static/js/jquery-1.9.1.min.js"></script>
<script src="../static/slick/slick.min.js"></script>
<script src="../static/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="../static/js/jquery.singlePageNav.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script>

  function getOffSet(){
	var _offset = 450;
	var windowHeight = window.innerHeight;

	if(windowHeight > 500) {
	  _offset = 400;
	} 
	if(windowHeight > 680) {
	  _offset = 300
	}
	if(windowHeight > 830) {
	  _offset = 210;
	}

	return _offset;
  }

  function setParallaxPosition($doc, multiplier, $object){
	var offset = getOffSet();
	var from_top = $doc.scrollTop(),
	  bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
	$object.css({"background-position" : bg_css });
  }

  var background_image_parallax = function($object, multiplier, forceSet){
	multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
	multiplier = 1 - multiplier;
	var $doc = $(document);
	// $object.css({"background-attatchment" : "fixed"});

	if(forceSet) {
	  setParallaxPosition($doc, multiplier, $object);
	} else {
	  $(window).scroll(function(){          
		setParallaxPosition($doc, multiplier, $object);
	  });
	}
  };

  var background_image_parallax_2 = function($object, multiplier){
	multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
	multiplier = 1 - multiplier;
	var $doc = $(document);
	$object.css({"background-attachment" : "fixed"});
	$(window).scroll(function(){
	  var firstTop = $object.offset().top,
		  pos = $(window).scrollTop(),
		  yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

	  var bg_css = 'center ' + yPos + 'px';

	  $object.css({"background-position" : bg_css });
	});
  };
  
  $(function(){
	// Hero Section - Background Parallax
	background_image_parallax($(".tm-parallax"), 0.30, false);
	background_image_parallax_2($("#contact"), 0.80);   
	
	// Handle window resize
	window.addEventListener('resize', function(){
	  background_image_parallax($(".tm-parallax"), 0.30, true);
	}, true);

	// Detect window scroll and update navbar
	$(window).scroll(function(e){          
	  if($(document).scrollTop() > 120) {
		$('.tm-navbar').addClass("scroll");
	  } else {
		$('.tm-navbar').removeClass("scroll");
	  }
	});
	
	// Close mobile menu after click 
	$('#tmNav a').on('click', function(){
	  $('.navbar-collapse').removeClass('show'); 
	})

	// Scroll to corresponding section with animation
	$('#tmNav').singlePageNav();        
	
	// Add smooth scrolling to all links
	// https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
	$("a").on('click', function(event) {
	  if (this.hash !== "") {
		event.preventDefault();
		var hash = this.hash;

		$('html, body').animate({
		  scrollTop: $(hash).offset().top
		}, 400, function(){
		  window.location.hash = hash;
		});
	  } // End if
	});

	// Pop up
	$('.tm-gallery').magnificPopup({
	  delegate: 'a',
	  type: 'image',
	  gallery: { enabled: true }
	});

	// Gallery
	$('.tm-gallery').slick({
	  dots: true,
	  infinite: false,
	  slidesToShow: 5,
	  slidesToScroll: 2,
	  responsive: [
	  {
		breakpoint: 1199,
		settings: {
		  slidesToShow: 4,
		  slidesToScroll: 2
		}
	  },
	  {
		breakpoint: 991,
		settings: {
		  slidesToShow: 3,
		  slidesToScroll: 2
		}
	  },
	  {
		breakpoint: 767,
		settings: {
		  slidesToShow: 2,
		  slidesToScroll: 1
		}
	  },
	  {
		breakpoint: 480,
		settings: {
		  slidesToShow: 1,
		  slidesToScroll: 1
		}
	  }
	]
	});
  });
</script>
</body>
</html>